html,
body,
div {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 14px;
  font-family: sans-serif;
  color: #f3f3f3;
}
button {
  cursor: pointer;
  color: #f3f3f3;
}
button:hover {
  filter: brightness(0.75);
  transition: 0.2s;
}
button:active {
  filter: brightness(1.25);
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
